<div class="mb-3" *ngIf="!editing()">
  <button pButton
          label="Nuevo Contacto"
          icon="pi pi-user-plus"
          class="p-button-success"
          (click)="newContact()">
  </button>
</div>

<!-- 2) Formulario SOLO si editing() es truthy -->
<app-contact-form
  *ngIf="editing()"
  [editContact]="editing()"
  (created)="onSaved()"
  (updated)="onSaved()"
  (canceled)="onSaved()">
</app-contact-form>


<p-table [value]="contacts()" [paginator]="true" [rows]="10" class="p-datatable-sm">
  <ng-template pTemplate="header">
    <tr>
      <th>Nombre</th><th>Email</th><th>Teléfono</th><th>Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-c>
    <tr>
      <td>{{c.name}}</td>
      <td>{{c.email}}</td>
      <td>{{c.phone}}</td>
      <td>
        <button pButton icon="pi pi-pencil" class="p-button-text p-button-rounded p-mr-2"
                (click)="onEdit(c)"></button>
        <button pButton icon="pi pi-trash" class="p-button-text p-button-rounded p-button-danger"
                (click)="delete(c.id)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>